@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply text-white bg-blue-500 uppercase;
    }

    .btn-yn {
        @apply text-white bg-blue-500 uppercase py-1 w-32;
    }

    span.ans-yes {
        @apply bg-green-300 px-2 rounded-md;
    }

    span.ans-no {
        @apply bg-red-300 px-2 rounded-md;
    }
}

@layer utilities {
    .disabled {
        @apply opacity-25;
    }
}

a:not(.link).active,
button.active {
    @apply bg-blue-900;
}

a.link.active {
    @apply text-blue-900;
}

.layout-page {
    @apply grid h-screen;
    grid-template-rows: 50px 1fr 50px;
}

.instructions-content > * {
    @apply mt-4;
}

.assessment-content .ques,
.assessment-content > * {
    @apply my-10;
}
