<div class="assessment-content pt-5 text-lg border border-black rounded border-opacity-25 shadow p-10 hidden"
     xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="float-right">
    <img src="../static/img/close.png" th:src="@{/img/close.png}" class="close h-5 hidden"/>
  </div>
  <div class="text-center text-xl text-gray-500">Self-assessment</div>
  <section class='text-slate-600 pb-10 mt-20 space-y-12 question-wrapper'>
    <section class='w-9/12 mx-auto' data-property='interest'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 1</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Little interest or pleasure in doing things?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='interest Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='interest Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='interest More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='interest Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='feeling'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 2</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Feeling down, depressed or hopeless?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='sleep'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 3</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Trouble falling asleep, staying asleep, or sleeping too much?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='sleep Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='sleep Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='sleep More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='sleep Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='tired'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 4</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Feeling tired or having little energy?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='tired Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='tired Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='tired More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='tired Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='appetite'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 5</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Poor appetite or overeating?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='appetite Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='appetite Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='appetite More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='appetite Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='feeling-down'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 6</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Feeling bad about yourself - or that you're a failure or have let yourself or your family down?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling-down Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling-down Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='feeling-down More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='feeling-down Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='concentration'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 7</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Trouble concentrating on things, such as reading the newspaper or watching television?</b></p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='concentration Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='concentration Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='concentration More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='concentration Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='slowness'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 8</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Moving or speaking so slowly that other people could have noticed. Or, the opposite - being so fidgety or restless that you have been moving around a lot more than usual?</b>
        </p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='slowness Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='slowness Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='slowness More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='slowness Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
    <section class='w-9/12 mx-auto' data-property='killing'>
      <div class='w-3/4 mx-auto space-y-3'>
        <p>Question 9</p>
        <p>Over the past 2 weeks, how often have you been bothered by any of the following problems: <b>Thoughts that you would be better off dead or of hurting yourself in some way?</b>
        </p>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='killing Not At all'>Not At all</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='killing Several Days'>Several Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light text-left py-2 px-2.5' data-options='killing More Than Half the Days'>More Than Half the Days</button>
        <button class='options block w-full border border-sky-500 text-sky-500 font-light  text-left py-2 px-2.5' data-options='killing Nearly Every Day'>Nearly Every Day</button>
      </div>
    </section>
  </section>
  <div class="lowerBtns">
    <button class="btn submit-btn block w-48 mx-auto shadow-md text-sm py-1" >Submit</button>
  </div>
</div>
