<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/tailwind-40184043.css" th:href="@{/css/tailwind-40184043.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <script src="../static/js/cute-alert.js" th:src="@{/js/cute-alert.js}"></script>
    <script src="../static/js/patient_assessment.js" th:src="@{/js/patient_assessment.js}" defer></script>
    <title>CareConnect Portal Login: Self Assessment</title>
  </head>
  <body class="layout-page bg-gray-200">
  <div class="header flex px-5 items-center justify-between bg-blue-700 text-white w-full z-10">
    <span class="username">Hello User</span>
    <h1 style="margin-left: 600px;font-size: 30px;position: fixed;"><b>CareConnect</b></h1>
    <button class="text-white logout text-right w-32">Sign Out</button>
  </div>
      <div class="grid assessment-main bg-white mx-auto mt-5 py-7 px-24" style="width:1200px;">
        <div class="instructions-content text-sm">
          <h2 class="text-blue-700 text-center font-bold text-base mb-6">Self-Assessment Tool</h2>
          <article>
            This self-assessment tool is intended to assist people in keeping track of their health and pinpointing any possible problem areas. But, it shouldn't be used in place of expert medical guidance, diagnosis, or care.

            The results produced by this tool may not be accurate or comprehensive since they are reliant on the information given by the user. If you have any worries about your health or suffer any symptoms or medical issues, it is crucial to speak with a licenced healthcare expert.

            You accept and agree that you are fully responsible for how you use this tool and the outcomes you get from it by using it. The instrument is offered "as is" with no explicit or implied guarantees, including but not limited to implied warranties of merchantability and suitability for a specific purpose.

            The makers of this product are not responsible for any damages that you or anyone else sustains as a result of using or being unable to use it, including but not limited to direct, indirect, incidental, special, or consequential damages.
          </article>
          <button class="btn btn-start block py-1 w-48 mx-auto">Start</button>
        </div>
        <div id="assessmentContents"></div>
      </div>
    </body>
</html>
